// Color Pallete
$primary:  #001021;
$secondary:  #FF521B;
$background: #DFE0E2;
$light:  #FBFFfE;
$dark:  #0A0908;

$success: #40cb33;
$warning: #D78521;
$danger: #C31422;


// Viewport Sizes
$small: 425px;
$s-medium: 528px;
$medium: 768px;
$m-large: 992px;
$large: 1200px;
$x-large: 1440px;
$xx-large: 2560px;

html,
body  {
  background: $background;
  overflow-x: hidden;
}