// Color Pallete
// $primary:  #001021 #020122 #0B1D51 brown->#230903;
// $secondary:  #FF521B #F4442E;
// $light: #FBFFfE
$primary:  #230903;
$secondary:  #D65108;
$background: #DFE0E2;
$light:  #FBFFfE;
$dark:  #0A0903;

$success: #40cb33;
$warning: #FB9E2D;
$danger: #FF1E31;


// Viewport Sizes
$small: 425px;
$s-medium: 528px;
$medium: 768px;
$m-large: 992px;
$large: 1200px;
$x-large: 1440px;
$xx-large: 2560px;

html,
body  {
  background: $background;
  overflow-x: hidden;
}

@media screen and (max-width: $s-medium) {
  canvas {
    max-width: 100%;
    max-height: 200px;
  }
}
