// Color Pallete
// $primary:  #001021 #020122 #0B1D51 brown->#230903 green->#053B06;
// $secondary:  #FF521B #F4442E;
// $light: #FBFFfE
$primary:  #001021;
$secondary:  #D65108;
$background: #DFE0E2;
$light:  #FBFFfE;
$dark:  #0A0903;

$success: #11BB22;
$warning: #FB9E2D;
$danger: #E00000;


// Viewport Sizes
$small: 425px;
$s-medium: 528px;
$medium: 768px;
$m-large: 992px;
$large: 1200px;
$x-large: 1440px;
$xx-large: 2560px;

html,
body  {
  background: $background;
  overflow-x: hidden;
  zoom: 0.9;
}

@media screen and (max-width: $s-medium) {
  canvas {
    max-width: 100%;
    max-height: 200px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

  /* Track */
::-webkit-scrollbar-track {
  background: $light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}
