@mixin logo-styles {
  text-decoration: none;
  font: {
    size: 36px;
    weight: 600;
  }
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

@mixin search-text {
  font: {
    size: 16px;
    weight: 400;
  }
}